
/* AboutUs.css */

/* Main container */
.about-us {
  background-color: #ffffff;
  padding: 40px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

/* Center the content vertically and horizontally */
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style the image container */
.about-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Style the image */
.about-image img {
  
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Style the heading and paragraphs */
.about-text {
  text-align: left;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
}

/* Add a subtle hover effect */
.about-content p:hover {
  color: #ff0015;
  transition: color 0.2s ease-in-out;
}

.container {
  margin-top: 30px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.my-links {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-around;
}

.my-links a {
  text-decoration: none;
  color: black;
}

.contact-form {
  padding: 20px;
  border-radius: 5px;
}

.contact-form h2 {
  margin-bottom: 20px;
  color: black;
  font-size: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 20px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
}

.contact-form button {
  border: none;
  background: black;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

.contact-form button:hover {
  background: rgb(73, 109, 250);
  color: black;
  border: 1px solid black;
}

/* .terms-container {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 20px;
}

.terms-title {
  font-weight: bold;
  margin-top: 20px;
}

.terms-paragraph {
  text-align: justify;
  margin-top: 10px;
} */


body {
  background-color: black;
  color: white;
}

.card {
  background-color: white;
  color: black;
}
