:root{
    --nav-bg-color: #F0F3F4;
    --nav-border-color: #D5DDE1;
    --nav-logo-color: black;
    --nav-btn-color: black;
    --nav-profile-btn-bg-color: black;
}

.dash-screen{
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 0 ;
    height: 100vh;
    min-width: 70vw;
    /* width: 100%; */

    /* border: 1px solid red; */
}

.dash-screen-container{
    height: 100%;
    /* border: 1px solid red; */
}
