.blog{
    width: 350px !important;

    margin-bottom: 2rem;
}

.blog-container{

}

.blog-container>img{
    width: 350px;
    border-radius: 1rem;
}

.blog-content{

}

.blog-content>h1,.blog-content>p{
    margin: .5rem 0;
}

.blog-content>h1{
    font-size: 1.5rem;
}

.blog-content>p{
    font-size: 1rem;
}

.blog-info{
    display: flex;
    align-items: center;
    /* align-items: center !important; */

    /* border: 1px solid #ccc; */
}

.blog-info>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: .5rem;
}

.blog-info>p{
    /* margin: .5rem .5rem 0 .5rem; */
    /* margin-right: .5rem; */
    margin: 0;


}


.blog-info>i{
    /* margin-right: .5rem; */
    margin: 0 .4rem;
    font-size: .4rem;
    color: black;

    position: relative;
    top: .2rem;
}


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .blog-all-row{
    }
    
    .blog{
        width: 100% !important;
        margin: 0 auto 2rem !important;

    }

    .blog-container>img{
       width: 100%;
    }

    .blog-content>h1,.blog-content>p{
        margin: 1rem 0;
    }


}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 577px) and (max-width: 768px) {
    .blog{
        width: 80% !important;
        margin: 0 auto 2rem !important;
    }

    .blog-container>img{
       width: 100%;
    }

    .blog-content>h1,.blog-content>p{
        margin: 1rem 0;
    }

    .blog-content>h1{
        font-size: 1.5rem;
    }
    
    .blog-content>p{
        font-size: 1rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 767px) and (max-width: 992px) {
    .blogs-all-container{
        /* width: 100% !important; */
    }

    .blog{
        margin: 0 0 2rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    .blogs-all-container{
    }

    .blog{
        margin: 0 0 2rem;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
    .blog{
        margin: 0 0 2rem;
    }

    .blogs-all-container{
        width: 100% !important;
    }
}