footer {
    text-align: center;
    background-color: black;
    color: white;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.btn{
    background-color: black;
    border: 2px solid rgb(134, 129, 129);
    border-radius: 4px;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
footer h1 h2{
    text-align: center;
}
.left-section{
    color: white;
    text-align: left;
    flex: 1;
    margin-right: 10px; 

}
.left-section ul{
    list-style: none;
    padding: 0px;
}
.left-section ul li{
    margin: 5px;
    display: block;
    padding: 2px;
}
.left-section ul li a{
    text-decoration: none;
    color: white;
}
.mid-section{
    color: white;
    text-align: left;
    flex: 1;
}
.mid-section ul{
    list-style: none;
    padding: 0px;
}
.mid-section ul li{
    margin: 5px;
    padding: 2px;
    display: block;
}
.mid-section ul li a{
    text-decoration: none;
    color: white;
}
.mid2-section{
    color: white;
    text-align: left;
    flex: 1;
}
.mid2-section ul{
    list-style: none;
    padding: 0px;
}
.mid2-section ul li{
    margin: 5px;
    padding: 2px;
    display: block;
}
.mid2-section ul li a{
    text-decoration: none;
    color: white;
}

.mid3-section{
    color: white;
    text-align:left;
    flex: 1;
}
.mid3-section ul{
    list-style: none;
    padding: 0px;
}
.mid3-section ul li{
    margin: 5px;
    padding: 2px;
    display: block;
}
.mid3-section ul li a{
    text-decoration: none;
    color: white;
}
.mid4-section{
    color: white;
    text-align:left;
    flex: 1;
}
.mid4-section ul{
    list-style: none;
    padding: 0px;
}
.mid4-section ul li{
    margin: 5px;
    padding: 2px;
    display: block;
}
.mid4-section ul li a{
    text-decoration: none;
    color: white;
}
.right-section{
    color: white;
    text-align:left;
    flex: 1;
}
.right-section ul{
    list-style: none;
    padding: 0px;
}
.right-section ul li{
    margin: 5px;
    padding: 2px;
    display: block;
}
.right-section ul li a{
    text-decoration: none;
    color: white;
}
.logo img{ 
    height: 50px;
    width: 100px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.copyright{
    position: absolute;
    right: 30px;
    bottom: 10px;
}
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left-section, .mid-section, .mid2-section, .mid3-section, .mid4-section, .right-section {
        text-align: center;
        margin: auto;
        
    }
    .logo img {
        height: 30px;
        width: 60px;
        left: 5px;
        bottom: 5px;
    }
}

@media only screen and (max-width: 480px) {
    footer h1, footer h2 {
        font-size: 20px;
    }
    .btn {
        padding: 8px;
    }
    .logo img {
        height: 30px;
        width: 60px;
        left:5px;
        bottom: 5px;
        position: fixed;
    }
    .left-section ul li, .mid-section ul li, .mid2-section ul li, .mid3-section ul li, .mid4-section ul li, .right-section ul li {
        margin: 3px;
    }
    .copyright{
        position: fixed;
    }
    .left-section, .mid-section, .mid2-section, .mid3-section, .mid4-section, .right-section {
        margin: auto;
    }
   
}