.left{
    display: inline-block;
    position: absolute;
    left: 35px;
    top: 20px;
}
.left img{
    width: 100px;
}
.left div{
    text-align: center;
    font-size:small;
}
.mid{
    display: block;
    width: 600px;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
    
}
.right{
    position: absolute;
    right: 34px;
    top: 15px;
    display: flex;
    justify-content: flex-end;
    width: auto;


}
.navbar{
    display: inline-block;
    width: 700px;
    flex-wrap: wrap;            


}
.navbar li{
    display: inline-block;
}
.navbar li a{
    color: black;
    text-decoration: none;
    padding: 25px;
    color: white;
    
}
.navbar li a:hover{
    text-decoration: underline;
}
.btn1{
    margin: 0px 9px;
    padding: 5px 16px;
    border-radius: 10px;
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: small;   
    width: 100px;
    
}
.btn2:hover{
    background-color: rgb(77, 74, 74);
}
.btn2{
    margin: 0px 9px;
    padding: 5px 16px ;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: small; 
    width: 100px;

}
@media screen and  (max-width:910px){
    body{
        font-size: small;
    }
    .left{
        position: relative;
        left: 0;
    }
    .left img{
        width: 4rem;
    }
    .navbar{
        flex-wrap: wrap;
    }
    .navbar li{
        padding-left: 10px;
        padding-right: 10px;

    }
    .navbar li a{
        font-size: 12px;
        color: white;

    }
    .right{
        display: flex;
        position: fixed;
        left: 80%;
        flex-direction: column;               

    }
}
header{
    background-color: black;
    margin: 0px;
}