.top-category-container {
    margin-top: 30px;
    font-family: Arial;
    /* background-color: #f2f2f2; */
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */


  }
  
  .top-category-heading {
    /* color: #007bff; */
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0rem 0rem 2rem 1rem;


  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    /* grid-gap: 20px; */



    /* border: 1px solid red; */
  }
  
  .category-card {
    /* padding: 10px; */
    /* border-radius: 8px; */
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 2rem;
    box-sizing: border-box;
    /* min-width: 350px; */
    /* border: 1px solid red; */


    margin: 0 1rem 2rem;

  }

  
  .category-heading {
    font-size: .8rem;
    font-weight: bold;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
  }
  
.each-blog{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.each-blog:last-of-type{
  margin-bottom: 0;
}

.each-blog>div:last-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 3.1rem;
  /* border: 1px solid red; */
}

.each-blog>div>p{
  margin:0;
  font-weight: bold;
}

  .blog-item{
    /* margin-bottom: 1rem; */
  }

  .blog-item>a{
    text-decoration: underline;
    color: black; 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .blog-item>a>p{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  .blog-item:last-of-type{
    margin-bottom: 0;
  }



  /* ... (previously defined styles) ... */

.blog-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  